<script>
// vim: ts=3

let EMC = {};
EMC.METADATA = {};
EMC.METADATA.works = {% include metadata/works.json %};
EMC.METADATA.concerts = {% include metadata/concerts.json %};
EMC.METADATA.people = {% include metadata/people.json %};
EMC.METADATA.composers = {% include metadata/composers.json %};
EMC.METADATA.statistics = {% include metadata/statistics.json %};

//////////////////////////////
//
// DOMContentLoaded event -- run after webpage has finished loading.
//

document.addEventListener("DOMContentLoaded", function () {
	fillInCensusData(EMC.METADATA);
	displayYearsPlot(EMC.METADATA);
});

</script>