<script>

let EMC = {};
EMC.results = {};            // elements for displaying search results by sheet name
EMC.menus = {};              // elements for displaying search menus by sheet name
EMC.activeResults = null;
EMC.index = {};              // header name mapping by sheet
EMC.index.works = {};        // header names for works sheet
EMC.index.concerts = {};     // header names for works concerts
EMC.index.archives = {};     // header names for archives sheet
EMC.index.bibliography = {}; // header names for bibliography sheet
EMC.index.editions = {};     // header names for editions sheet
EMC.index.sources = {};      // header names for sources sheet
EMC.lookup = {};
EMC.METADATA = {};
EMC.METADATA.works = {% include metadata/works.json %};
EMC.METADATA.concerts = {% include metadata/concerts.json %};
EMC.METADATA.archives = {% include metadata/archives.json %};
EMC.METADATA.bibliography = {% include metadata/bibliography.json %};
EMC.METADATA.editions = {% include metadata/editions.json %};
EMC.METADATA.sources = {% include metadata/sources.json %};

EMC.index.works.name           = "Standardized Name of Work";
EMC.index.works.composer       = "Probable Composer";
EMC.index.works.voices         = "Voices";
EMC.index.works.composername   = "Composer Name as Listed in Program";
EMC.index.works.conflattr      = "Conflicting Attributions";
EMC.index.works.language	    = "Language";
EMC.index.works.language2	    = "Second Language";
EMC.index.works.monopoly	    = "Monophonic/Polyphonic";
EMC.index.works.sacrsec	       = "Sacred/Secular";
EMC.index.works.vocinstr	    = "Vocal/Instrumental";
EMC.index.works.genre   	    = "Genre";
EMC.index.works.source    	    = "Source of Work Listed in Program";
EMC.index.works.folios	       = "Folios/No.";
EMC.index.works.edition	       = "Edition of Work Listed in Program";
EMC.index.works.pages	       = "Nos./Page Numbers";
EMC.index.works.scanedition    = "Scan of Edition";
EMC.index.works.ProgID	       = "Program ID";
EMC.index.works.ProgDate	    = "Program Date";
EMC.index.works.ProgOrder	    = "Order in Program";
EMC.index.works.NotesWork	    = "Notes on Work";
EMC.index.works.ModernEd	    = "Modern Edition";
EMC.index.works.Repeatcon	    = "Repeat Concerts";

EMC.index.concerts.ID          = "ID";
EMC.index.concerts.year        = "Year";
EMC.index.concerts.month       = "Month";
EMC.index.concerts.day         = "Day";
EMC.index.concerts.date        = "Date";
EMC.index.concerts.ProgTitle   = "Program Title";
EMC.index.concerts.ensemble    = "Ensemble/Larger Org.";
EMC.index.concerts.loc         = "Location";
EMC.index.concerts.city        = "City";
EMC.index.concerts.state       = "State";
EMC.index.concerts.country     = "Country";
EMC.index.concerts.gmaps       = "Google Maps URL";
EMC.index.concerts.loccoord    = "Location Coordinates";
EMC.index.concerts.intro       = "Introduction";
EMC.index.concerts.direction   = "Direction";
EMC.index.concerts.performers  = "Performers";
EMC.index.concerts.archive     = "Archive (ARC)";
EMC.index.concerts.signature   = "Signature";
EMC.index.concerts.notes       = "Notes on Program";
EMC.index.concerts.literature  = "Literature";
EMC.index.concerts.image       = "Image";
EMC.index.concerts.imageperm   = "Image Permissions";
EMC.index.concerts.imagesource = "Image Source";
EMC.index.concerts.extimage    = "Externally Hosted Image";
EMC.index.archives.archID      = "Archive ID (ARC)";
EMC.index.archives.country     = "Country";
EMC.index.archives.name        = "Name";
EMC.index.archives.urlde       = "URL (DE)";
EMC.index.archives.urlen       = "URL (EN)";
EMC.index.archives.archloc     = "Archive Location";
EMC.index.bibliography.ID      = "ID";
EMC.index.bibliography.author  = "Author";
EMC.index.bibliography.article = "Name of Article";
EMC.index.bibliography.volname = "Name of Volume/Journal";
EMC.index.bibliography.editor  = "Editor";
EMC.index.bibliography.volnum  = "Volume";
EMC.index.bibliography.loc     = "Location";
EMC.index.bibliography.pub	    = "Publisher";
EMC.index.bibliography.pubyear = "Publication Year";
EMC.index.bibliography.pages   = "Pages";
EMC.index.bibliography.url     = "URL";
EMC.index.editions.ID          = "ID";
EMC.index.editions.compauthor  = "Composer/Author";
EMC.index.editions.article     = "Name of Article";
EMC.index.editions.volname     = "Name of Volume/Journal";
EMC.index.editions.editor      = "Editor";
EMC.index.editions.volnum      = "Volume";
EMC.index.editions.loc         = "Location";
EMC.index.editions.pub         = "Publisher";
EMC.index.editions.pubyear     = "Publication Year";
EMC.index.editions.pages       = "Pages";
EMC.index.sources.ID           = "ID";
EMC.index.sources.alias        = "Source Alias";
EMC.index.sources.DIAMM        = "DIAMM Source Link";
EMC.index.sources.RISM         = "RISM Source Link";

ACTIVE_SHEET = "works";


//////////////////////////////
//
// DOMContentLoaded event listener --
//

document.addEventListener("DOMContentLoaded", function () {
	buildLookupTables();
	buildSearchInterfaces(EMC.METADATA, "#browse-interface");
	displayBrowseTableWorks(EMC.METADATA.works);
	displayBrowseTableConcerts(EMC.METADATA.concerts);
});



//////////////////////////////
//
// Click event delegation for selecting which worksheet data to browse:
//

document.addEventListener("click", function (event) {
	let clickedElement = event.target;
	let targetButton = clickedElement.closest(".sheet-button");
	if (!targetButton) {
		return;
	}
	let name = targetButton.dataset.sheet;
	if (ACTIVE_SHEET == name) {
		// already selected
		return;
	}
	ACTIVE_SHEET = name;

	displaySheet(name);

	// 
	let buttons = document.querySelectorAll("#sheet-select .sheet-button");
	for (let i=0; i<buttons.length; i++) {
		let tname = buttons[i].dataset.sheet;
		if (tname === name) {
			buttons[i].classList.add("selected");
		} else {
			buttons[i].classList.remove("selected");
		}
	}

});


</script>



